.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.about__title {
  flex-direction: column;
  color: var(--black-color);

  p {
    font-size: 20px;
  }
  hr {
    width: 400px;

    border-top: 0.5px solid var(--primary-color);
    overflow: hidden;
  }
}

.app__profiles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8rem;

  .decoration__about {
    color: var(--primary-color);
    font-weight: 800;
  }
}

.app__profile-item {
  width: 340px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  hr {
    width: 200px;

    border-top: 0.5px solid var(--primary-color);
    overflow: hidden;
  }

  svg {
    margin: 4px;
    width: 25px;
    height: 25px;
    color: var(--primary-color);
  }
  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;
  }
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute; // Make the description container absolute
  top: 100%; // Position it below the card
  left: 0;
  width: 100%;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); // Optional: Add some shadow for better visibility
  padding: 1rem; // Optional: Add some padding
  z-index: 1; // Ensure it appears abov
}

button {
  border: none;
  background: none;
}
