.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.about__title {
  flex-direction: column;
  color: var(--black-color);

  p {
    font-size: 20px;
  }
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8rem;

  .decoration__about {
    color: var(--primary-color);
    font-weight: 800;
  }
}

.app__profile-item {
  width: 340px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;

  svg {
    margin: 4px;
    width: 25px;
    height: 25px;
    color: var(--primary-color);
  }
  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;
  }
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

hr {
  width: 320px;
  border: none;
  border-top: 1px solid var(--primary-color);
}

button {
  border: none;
  background: none;
}
