.app__weDo {
  flex: 1;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  row-gap: 2rem;
  column-gap: 5rem;
  align-items: flex-start;
  padding: 10px 20px;
}

.weDo__title {
  flex-direction: column;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--black-color);
  padding-right: 50px;

  p {
    font-size: 20px;
  }
}

.weDo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 3rem;

  .decoration__about {
    color: var(--primary-color);
    font-weight: 400;
  }
}

.weDo-card {
  width: 600px;
  min-height: 280px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4rem 4rem 2rem 3rem;
  --mask: radial-gradient(40px at 40px 40px, #0000 98%, #000) -40px -40px;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  background: var(--secondary-color);

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;
  }
}

hr {
  width: 320px;
  border: none;
  border-top: 1px solid var(--primary-color);
}

.card__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  row-gap: 15px;
  span {
    color: var(--primary-color);
    font-size: 22px;
    margin-right: 5px;
  }
}
