.app__weDo {
  flex: 1;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  row-gap: 2rem;
  column-gap: 2rem;

  padding: 20px;
}

.weDo__title {
  flex-direction: column;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--black-color);
  padding-right: 50px;

  p {
    font-size: 20px;
  }
}

.weDo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 2rem;
}

.weDo-card {
  width: 500px;
  height: 250px;
  // background-color: var(--secondary-color);
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;

  align-items: flex-start;
  flex-direction: row;
  padding: 1rem 1rem;

  .decoration__about {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.8rem;
    margin-right: 3px;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;
  }
}

.card__description {
  display: flex;
  align-items: center;

  row-gap: 15px;
}
