.app__weDo {
  flex: 1;
  width: 100%;
}

.weDo__wrapper {
  display: flex;
  flex-direction: row;

  .weDo-title {
    font-size: 20px;
    font-weight: 400;
  }
}

.weDo__title {
  flex-direction: column;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--black-color);
  padding-right: 50px;

  p {
    font-size: 20px;
  }
}

.app__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;

  .decoration__about {
    color: var(--primary-color);
    font-weight: 400;
  }
}

.app__cards-item {
  width: 300px;
  height: 250px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;

  svg {
    margin: 4px;
    width: 25px;
    height: 25px;
    color: var(--primary-color);
  }
  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;
  }
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

hr {
  width: 320px;
  border: none;
  border-top: 1px solid var(--primary-color);
}
