.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;

  background: transparent;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  //   border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 99;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;

  margin-left: 80px;
  mix-blend-mode: difference;

  img {
    width: 140px;
    height: 50px;

    @media screen and (min-width: 2000px) {
      width: 220px;
      height: 70px;
    }
  }
}

// @media screen and (min-width: 900px) {
//   display: none;
// }

//   @media screen and (min-width: 900px) {
//     display: none;
//   }

.header {
  position: relative;
  margin-top: 20px;
  margin-right: 40px;

  .menu {
    width: 480px;
    height: 650px;
    background-color: var(--gray-color);
    border-radius: 25px;
    position: relative;
  }
}
