.app__values {
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.values__container {
  display: flex;
  padding: 70px 40px;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  gap: 150px;
}

.values__title-container {
  align-self: flex-start;
  width: 40%;
}

.values__title {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
}

.values__description {
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 600;
}
