@import '../../app.scss';

.description {
  display: flex;
  justify-content: space-between;
  padding: 70px 30px;
  font-family: var(--font-base);

  .values__title {
    min-width: 100px;
  }

  @include mobile {
    padding: 110px 20px;
    justify-content: center;
  }

  h2 {
    @include mobile {
      padding-right: 10px;
      text-align: left;
    }
  }

  .body {
    max-width: 1000px;
    display: flex;
    gap: 50px;
    position: relative;

    p {
      margin: 0;
      font-size: 4.3rem;

      span {
        margin-right: 5px;
      }

      .mask {
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }

      @include tablet {
        font-size: 2.4rem;
      }

      @include mobile {
        font-size: 2.1rem;
      }

      @media screen and (max-width: 350px) {
        font-size: 1.6rem;
      }
    }
  }
}
